*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#60a2ff, #94c1ff);
    
}

.image-fire{
    height: 50px;
    margin:9px;

}

.container-pulsanti{
    display: flex;
    justify-content: center;
    gap: 9px;
    margin: 9px 0px;
    
    align-items: center;
    min-height: 10vh;
   
}


button{
    padding: 18px;
    font-size: 20px;
    border-radius: 18px;
    border: none;
    background-color: #ff4d4d;
    text-decoration: none;
    color: white;
}

.title-dash{
    display: flex;
    justify-content: center;
    max-height: 10vh;
    color: white;
    margin-top: 9px;
    align-items: center;
}

img.immagine{
    height: 25px;
    
}

.btn{
    display: flex;
    align-items: center;
    gap: 8px;
}

a{
    text-decoration: none;
}

h1{
    line-height: 35px;
    margin: 9px 0px;
}

.bnt-report{

    display: flex;
    justify-content: center;
    
    margin: 9px 0px;
    
    align-items: center;
    min-height: 10vh;
    
}


@media (max-width: 650px) {
    .container-pulsanti, .bnt-report{
        max-width: 90vw;
        display:block;
        margin: 0 auto;
        margin-bottom: 18px;
    }

    button{
        margin: 0 auto;
        margin-bottom: 5px;
        width: 100%;
        justify-content: center;
    }
    
    .title-dash{
        margin: 9px 0px;
        text-align: center;
        
    }
    .bnt-report{
        margin: 9px auto;
    }
}
